@define-color bg-color #3c3835;

/* the whole window */
window#waybar {
  background: transparent;

  color: #fff4d2;

  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  font-weight: 400;
}

window#waybar > box {
	margin: 5px 2px;
}

tooltip {
  background: rgba(255, 244, 210, 0.8);
  color: @bg-color;
  border: 2px solid @bg-color;
  border-radius: 5px;
}

.modules-left {
  background: @bg-color;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 19px;
}

.modules-right {
  background: @bg-color;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 19px;
}

#window, #mode {
  margin-left: 15px;
}
#tray, #pulseaudio, #custom-backlight, #language, #battery, #clock.date {
  margin-right: 15px;
}

#custom-fuzzel {
  color: #fbf1c7;
}

#mode {
  color: #fe8019;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  margin: 0px;
}

#workspaces button {
  background: @bg-color;
  border: 2px solid transparent;
  border-radius: 12px;
  min-width: 25px;
  padding: 0 4px;
  margin: 5px 3px;
}

#workspaces button#sway-workspace-1 { color: #458588; }
#workspaces button#sway-workspace-2 { color: #fe8019; }
#workspaces button#sway-workspace-3 { color: #b16286; }
#workspaces button#sway-workspace-4 { color: #689d6a; }
#workspaces button#sway-workspace-5 { color: #d79921; }
#workspaces button#sway-workspace-6 { color: #98971a; }
#workspaces button#sway-workspace-7 { color: #cc241d; }
#workspaces button { color: #689d6a; }

#workspaces button:hover {
  border-color: #b16286;
}

#workspaces button.visible {
  border-color: #689d6a;
}

#workspaces button.visible:hover {
  border-color: #689d6a;
}

#workspaces button.active {
  border-color: #689d6a;
}

#workspaces button.active:hover {
  border-color: #689d6a;
}

#workspaces button.urgent {
  border-color: #cc241d;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#custom-backlight {
  color: #f6c657;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
  color: #fbf1c7;
}

#pulseaudio.muted {
  color: #ea6962;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  color: #fbf1c7;
}

#battery.critical {
  color: #cc241d;
}

#battery.warning {
  color: #e78a4e;
}

/* ================================ */
/*            clock                 */
/* ================================ */
#clock.time {
  color: #fbf1c7;
}

#clock.date {
  color: #fbf1c7;
}

#custom-notification {
  color: #fbf1c7;
  font-size: 14px;
  padding: 2px 2px;
}
