# Ignore files
.agignore

# Emacs
.#*
.dir-locals.el
.projectile

# Microsoft Office backups
~$*

# Windows files
Thumbs.db*

# direnv
.envrc

# Python
.python-version
.ipynb_checkpoints
.pixi

# rope
.ropeproject
