[init]
  defaultBranch = main
[core]
  excludesfile = ~/.gitignore
  editor = vim
  pager = "less -F -X"
[user]
  name = "Marten Lienen"
  email = "m@martenlienen.com"
[push]
  default = simple
[pull]
  rebase = true
[rebase]
  autostash = true
  updateRefs = true
[format]
  pretty = format:%C(yellow)%ar%C(reset) by %an <%C(italic)%ae%Creset> - %C(cyan italic)%h%n  %C(bold)%s
[log]
  abbrevCommit = true
  follow = true
[credential]
  helper = store
[rerere]
  enabled = true
  autoupdate = true
