# tags files
tags

# Ignore files
.agignore

# Emacs backups
.#*

# Microsoft Office backups
~$*

# Python virtualenv settings
.python-version

# ipython checkpoints
.ipynb_checkpoints

# IntelliJ files
*.iml
.idea
local.properties

# cquery
compile_commands.json
.cquery_cached_index

# ccls
.ccls-cache
