# tags files
tags

# Ignore files
.agignore

# Emacs backups
.#*

# Emacs local settings
.dir-locals.el

# Emacs project markers
.projectile

# Microsoft Office backups
~$*

# Windows files
Thumbs.db*

# Python virtualenv settings
.python-version

# ipython checkpoints
.ipynb_checkpoints

# rope
.ropeproject

# IntelliJ files
*.iml
.idea
local.properties

# cquery
compile_commands.json
.cquery_cached_index

# ccls
.ccls-cache
