#!/bin/sh

# Start pulseaudio
start-pulseaudio-x11 &

# Load Xresources
xrdb -merge ~/.Xresources

# Load mod-key mappings
xmodmap ~/.Xmodmap

# Disable display power management
xset -dpms

# Load zshrc so that my amended PATH is available to dmenu and other X
# applications
source ~/.zshenv

# Start gnome-keyring as an ssh-agent replacement
eval $(gnome-keyring-daemon --start --components=ssh)
export SSH_AUTH_SOCK

# NetworkManager applet
nm-applet &

# Seafile applet
test -x /usr/bin/seafile-applet && seafile-applet &
