#!/bin/sh

# Set background
feh --bg-fill ~/.wallpaper.jpg &

# Start pulseaudio
start-pulseaudio-x11 &

# Load Xresources
xrdb -merge ~/.Xresources

# Load mod-key mappings
xmodmap ~/.Xmodmap

# Disable screensaver
xset s off

# Load zshrc so that my amended PATH is available to dmenu and other X
# applications
source ~/.zshrc
