URxvt*jumpScroll: False
URxvt*font: xft:Source Code Pro:size=11
URxvt*scrollBar: False
URxvt*scollTtyOutput: False
URxvt*scollWithBuffer: True
URxvt*scollTtyKeypress: True

Emacs.menuBar: off
Emacs.toolBar: off
Emacs.verticalScrollBars: off
Emacs.horizontalScrollBars: off
Emacs.font: Source Code Pro-11

#define black #1c1f26
#define white #ffffff
#define red #f36c60
#define orange #ff9800
#define yellow #fff59d
#define green #8bc34a
#define purple #b39ddb
#define gray #555555

*.background: #263238
*.foreground: white
*.cursorColor: orange

*.color0: black
*.color8: #5f5f5f
*.color1: purple
*.color9: red
*.color2: green
*.color10: #a5d6a7
*.color3: orange
*.color11: yellow
*.color4: #455A64
*.color12: #4dd0e1
*.color5: #e91e63
*.color13: #bf616a
*.color6: #26A69A
*.color14: #81d4fa
*.color7: gray
*.color15: white
