[Unit]
Description=Mute the system on suspend so that music does not start blaring at inappropriate moments
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/amixer -q set Master mute

[Install]
WantedBy=sleep.target
