[Unit]
Description=Backups with borgmatic
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot

Restart=no
# Prevent rate limiting of borgmatic log events. If you are using an older version of systemd that
# doesn't support this (pre-240 or so), you may have to remove this option.
LogRateLimitIntervalSec=0

WorkingDirectory=%h
ExecStart=systemd-inhibit --who="borgmatic" --what="sleep:shutdown" --why="Prevent interrupting scheduled backup" %h/.local/bin/borgmatic --verbosity -2 --syslog-verbosity 1
