[Unit]
Description=Lock the screen on sleep
Before=suspend.target

[Service]
Type=forking
ExecStart=%h/.local/bin/lock-screen.sh

[Install]
WantedBy=suspend.target
