[Unit]
Description=Mute the system on suspend so that music does not start blaring at inappropriate moments
Before=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacmd set-sink-mute 0 1

[Install]
WantedBy=suspend.target
