[Unit]
Description=Lock the screen on sleep
Before=suspend.target

[Service]
Type=forking
ExecStart=/usr/bin/physlock -d

[Install]
WantedBy=suspend.target
